[submodule "bootloaders/caterina"]
	path = bootloaders/caterina
	url = https://github.com/keyboardio/Model01-Bootloader
[submodule "libraries/KeyboardioScanner"]
	path = libraries/KeyboardioScanner
	url = https://github.com/keyboardio/KeyboardioScanner
[submodule "libraries/KeyboardioHID"]
	path = libraries/KeyboardioHID
	url = https://github.com/keyboardio/KeyboardioHID
[submodule "libraries/Arduino-HID"]
	path = libraries/HID
	url = https://github.com/keyboardio/Arduino-HID
[submodule "libraries/Kaleidoscope-SpaceCadet"]
	path = libraries/Kaleidoscope-SpaceCadet
	url = https://github.com/keyboardio/Kaleidoscope-SpaceCadet
[submodule "libraries/Kaleidoscope-LEDControl"]
	path = libraries/Kaleidoscope-LEDControl
	url = https://github.com/keyboardio/Kaleidoscope-LEDControl
[submodule "libraries/Kaleidoscope-Macros"]
	path = libraries/Kaleidoscope-Macros
	url = https://github.com/keyboardio/Kaleidoscope-Macros
[submodule "libraries/Kaleidoscope-LED-Stalker"]
	path = libraries/Kaleidoscope-LED-Stalker
	url = https://github.com/keyboardio/Kaleidoscope-LED-Stalker
[submodule "libraries/Kaleidoscope-Ranges"]
	path = libraries/Kaleidoscope-Ranges
	url = https://github.com/keyboardio/Kaleidoscope-Ranges
[submodule "libraries/Kaleidoscope-Hardware-Model01"]
	path = libraries/Kaleidoscope-Hardware-Model01
	url = https://github.com/keyboardio/Kaleidoscope-Hardware-Model01
[submodule "libraries/Kaleidoscope"]
	path = libraries/Kaleidoscope
	url = https://github.com/keyboardio/Kaleidoscope
[submodule "libraries/Kaleidoscope-Focus"]
	path = libraries/Kaleidoscope-Focus
	url = https://github.com/keyboardio/Kaleidoscope-Focus
[submodule "libraries/Model01-Firmware"]
	path = libraries/Model01-Firmware
	url = https://github.com/Keyboardio/Model01-Firmware
[submodule "libraries/Kaleidoscope-Hardware"]
	path = libraries/Kaleidoscope-Hardware
	url = https://github.com/Keyboardio/Kaleidoscope-Hardware/
[submodule "toolchain"]
	path = toolchain
	url = https://github.com/keyboardio/Kaleidoscope-Prebuilt-Toolchain.git
[submodule "build-tools"]
	path = build-tools
	url = https://github.com/keyboardio/Kaleidoscope-Build-Tools.git
[submodule "libraries/Kaleidoscope-HIDAdaptor-KeyboardioHID"]
	path = libraries/Kaleidoscope-HIDAdaptor-KeyboardioHID
	url = https://github.com/keyboardio/Kaleidoscope-HIDAdaptor-KeyboardioHID
